{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="rules">
    <h1>Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{% url 'edit_category' category_id=category.id %}">Edit</a>
                    <a href="{% url 'delete_category' category_id=category.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_category' %}">Add Category</a>
</section>

{% endblock %}
