{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="rules">
    <h1>Expenses</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.name }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.category.name }}</td>
                <td>{{ expense.date_incurred }}</td>
                <td>
                    <a href="{% url 'edit_expense' expense_id=expense.id %}">Edit</a>
                    <a href="{% url 'delete_expense' expense_id=expense.id %}">Delete</a> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'create_expense' %}">Add Expense</a>

</section>
{% endblock %}