{% extends 'base.html' %}
{% block content %}
    

    <div>
        {% if user.is_authenticated %}
        <section class="rules">
            <h1>BUDG-IT</h1>
            <h3>Budget Summary for {{budget.name}}</h3>
            <p>Total Income: {{ total_income.amount__sum|floatformat:2 }}</p>
            <p>Total Expense: {{ total_expense.amount__sum|floatformat:2 }}</p>
            <p>Budget Balance: {{ budget_balance|floatformat:2 }}</p>

        </section>
        {% else%}
        <section class="rules">
            <h1>BUDG-IT</h1>
            <p>Save, oraganize, and advance your finances. Don't ever be confused over your budget ever again.</p>
            <p>
            <a href="#">Learn more</a>
            </p>
        </section>
        {% endif %}

    </div>

    <section>
        
    </section>
{% endblock %}
