{% extends 'base.html' %}

{% block content %}
<section class="rules">
    <h1>Reports</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Total Income</th>
        <th>Total Expenses</th>
        <th>Remaining Balance</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for report in reports %}
        <tr>
          <td>{{ report.start_date|date:"SHORT_DATE_FORMAT" }}</td>
          <td>{{ report.end_date|date:"SHORT_DATE_FORMAT" }}</td>
          <td>{{ report.total_income }}</td>
          <td>{{ report.total_expenses }}</td>
          <td>{{ report.remaining_balance }}</td>
          <td>
            <a href="{% url 'report_detail' report.id %}">View</a>
            <a href="{% url 'download_report' report.id %}">Download</a>
            <a href="{% url 'delete_report' report.id %}">Delete</a>

        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'generate_report' %}" class="btn btn-primary">Generate new report</a>
</section>
{% endblock %}




    
